*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content: center;
    margin-top: 8%;
    flex-direction: column;
    margin-left: 12%;
    margin-right: 12%;
}

.tabla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 60%;
    justify-items: center;
}
#aprobados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
}
#desaprobados{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid black 1px;
}

.titulo-a{
    grid-column: 1/1;
    grid-row: 1/1;
}
.titulo-d{
    grid-column: 2/2;
    grid-row: 1/1;
}
p{
    font-size: 18px;
    font-family: arial;
    border-bottom: solid black 2px;
}
#botoncito{
    height: 44px;
    width: 192px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-family: arial;
    border-radius: 25px;
    margin-top: 18px;
    margin-bottom: 36px;
}
.formulario{
    display: grid;
    gap: 10px;
}
.texto{
    height: 28px;
    font-size: 15px;
}
h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}

.c-tabla{
    display: flex;
    justify-content: center;
}